#waybar {
    background-color: rgba(40, 44, 52, 0.9);
    border-radius: 10px;
    border: 2px solid #525252;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    margin: 5px 10px;
    padding: 0 5px;
}

.modules-right, .modules-left, .modules-center {
    margin: 0;
    padding: 0;
}

#waybar .module {
    padding: 2px 8px;
    margin: 2px 3px;
    border-radius: 0;
    box-shadow: none;
}

#waybar .module:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#clock {
    color: #fab387;
}

#cpu {
    color: #b4befe;
    min-width: 60px;
}

#memory {
    color: #cba6f7;
    min-width: 130px;
}

#network {
    color: #94e2d5;
}

#network#1 {
    min-width: 30px;
}

#network#2 {
    min-width: 140px;
}


#custom-shutdown {
    color: #f38ba8;
    min-width: 30px;
    font-size: 16px;
}

#window {
    color: #89b4fa;
    font-style: italic;
    font-weight: bold;
    min-width: 50px;
}

/* Batterie */

#battery {
    color: #a6e3a1;
    min-width: 70px;
}

#battery.charging {
    color: #b3f0b2;
    min-width: 70px;
}

#battery.warning:not(.charging) {
    color: #f9e2af;
    min-width: 70px;
}

/* Workspaces */


#workspaces button {
    color: #cdd6f4;
    padding: 0 10px;
}

#workspaces button.active {
    color: #fab387;
    border-bottom: 2px solid #fab387;
    padding-bottom: 0px;
}

#workspaces button.has-windows {
    color: #cba6f7; /* Lila */
}

#workspaces button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}



tooltip {
    background-color: rgba(40, 44, 52, 0.95);
    border: 2px solid #525252;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
    color: #cdd6f4;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}
