#waybar {
    background-color: rgba(20, 24, 30, 0.7);
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    margin: 0px 5px;
    padding: 0 3px;
    min-height: 0;
    border-bottom: 2px solid #555555;
}

.modules-right, .modules-center, .modules-left {

}


#waybar .module {
    padding: 0px 8px;
    margin: 0px 3px;
    border-radius: 0;
    box-shadow: none;
}

#clock {
    color: #fab387;
}

#custom-sysinfo {
    color: #b4befe;
    min-width: 80px
}

#network {
    color: #94e2d5;
    min-width: 20px
}

#custom-shutdown {
    color: #f38ba8;
    min-width: 20px;
    font-size: 16px;
}

#window {
    color: #89b4fa;
    font-style: italic;
    font-weight: bold;
    min-width: 50px;
}

/* Batterie */

#battery {
    color: #a6e3a1;
    min-width: 20px;
}

#battery.charging {
    color: #b3f0b2;
    min-width: 30px;
}

#battery.warning:not(.charging) {
    color: #f9e230;
    min-width: 30px;
}

/* Workspaces */


#workspaces button {
   color: #89b4fa;
   padding: 3px 3px;
}

#workspaces button.empty {
    color: rgba(108, 112, 134, 0.5);
}

#workspaces button.active {
    color: #cba6f7;
    font-size: 15px;
}


#workspaces button:hover {
    
}



tooltip {
    background-color: rgba(40, 44, 52, 0.95);
    border: 2px solid #525252;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
    color: #cdd6f4;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}
